.con{
    height: auto;
    width: auto;
    /* position: absolute; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;        
}

.fas { 
    font-family: 'FontAwesome' !important; 
}

.fa-star{
    font-size: 15px;
    font-style: normal;
    color: gray;
}

.star-rate {
    max-width: 280px;
    width: 150px;
    height: 100px;
    padding: auto;
}

.pop-head {
    margin-top: 10px;
    font-weight: bold;
}